<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/clean-blog.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css" />
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">Riddle Quiz</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="{{ url_for('index') }}">Home Page</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a href="{{ url_for('leaderboard') }}">Leaderboard</a>
                    </li -->>

                </ul>
            </div>
        </div>
    </nav>
    
<header class="masthead" style="background-image: url({{ url_for('static', filename='img/header_img.png') }})">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Riddle Quiz</h1>
              <span class="subheading">Riddles by Tolkien and others</span>
            </div>
          </div>
        </div>
      </div>
    </header>
    {% block content %} {% endblock %}
    
    <footer></footer>

    <script src="{{ url_for('static', filename = 'vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ url_for('static', filename = 'js/clean-blog.min.js') }}"></script>
</body>

</html>