<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Openshift Quiz</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" type="text/css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css" />
</head>

	<body>
		<h2>Take the Quiz</h2>
		<p align="center"><a href=terminal ><button class=grey style="height:75px;width:150px">QUIZ</button></a></p>

	<!-- <div class="shell-wrap"> -->
<!-- 	  	<p class="shell-top-bar">/Users/pjlangley/Documents/websites/</p>
	  	<ul class="shell-body">
	    	<li>cd&nbsp;/Users/pjlangley/Documents/websites/codechewing.com/git/css-shell/demo/</li>
	    	<li>cd ../../../../</li>
	    	<li>pwd</li>
	    	<li>/Users/pjlangley/Documents/websites/</li>
	  	</ul>
	</div>
 -->
</body>
</html>