/* Ensuring the navbar does not cover any body elements */
body {
    padding-top: 65px;
}

/* Ensuring all content is in the center of the page */
.row {
    justify-content: center;
}

/* Styling for the div that holds the image for each question */
.image-container img {
    max-height: 300px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Styling to adjust image when screen sizes are changed */
@media(max-width: 722px) {
   .image-container img {
       max-width: 330px;
       height: auto;
    }
}

/* Styling for the submit answer form */
.form-group {
    text-align: center;
}

.form-group input {
    border: solid #007bff 1px;
    border-radius: .25rem;
    line-height: 1.5;
}

/* Styling for flash message response to incorrect answers */
.flash-group {
    text-align: center;
    color: red;
    background-color: #ffff00;
    border-radius: .25rem;
}

/* Styling for the riddle text */
.riddle  {
    text-align: center
}

/* Styling for the score keeping text */
.score {
    text-align: center;
}

.page-title {
    text-align: center;
}

/* Styling of the leaderboard page */ 
.leaderboard {
    padding-top: 25px;
    padding-bottom: 25px;
}
table { 
    width: 100%;
}

.jumbotron {
    text-align: center;
}

.terminal{
  background: black;
  color: white;
  font: courier;
  padding: 10px;
  height: 100px;
  overflow: hidden;
}

.line{
  display: table;
  width: 100%;
}

.terminal span{
  display:table-cell; 
  width:1px;
}

.terminal input{
  display:table-cell; 
  width:100%;
  border: none;
  background: black;
  color: white;
  outline: none;
}

section {
    display: flex;
    flex-flow: row nowrap;
    width: 500px;
    height: auto;
    margin: 0 auto;
    background-color: lightgrey;
    font-family: monospace;
}
.static {
    width: auto;
    padding-right: 20px;
}
.input {
    flex: 1;
}

.shell-wrap {
  width: 500px;
  margin: 100px auto 0 auto;
  box-shadow: 0 0 30px rgba(0,0,0,0.4);

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.shell-body {
  margin: 0;
  padding: 5px;
  list-style: none;
  background: #141414;
  color: #45D40C;
  font: 0.8em 'Andale Mono', Consolas, 'Courier New';
  line-height: 1.6em;

  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.shell-text {
  margin: 0;
  padding: 5px;
  list-style: none;
  background: #141414;
  color: #45D40C;
  font: 0.8em 'Andale Mono', Consolas, 'Courier New';
  line-height: 1.6em;
}

.shell-body li:before {
  content: '$';
  position: absolute;
  left: 0;
  top: 0;
}

.shell-body li {
  word-wrap: break-word;
  position: relative;
  padding: 0 0 0 15px;
}


